@import "main.scss";

h1 {
    font-size: clamp(3rem, 3vw, 5rem);
}
#cmotion {
    background: rgb(19, 1, 16);
}
#cmotion2 {
    background: rgb(15, 1, 19);
    
}
#rmotion {
    background: rgb(1, 13, 19);
}
#rmotion2 {
    background: rgb(19, 14, 1);
}
#summary {
    background: $black;
    ul{
        text-align: left !important;
        li {
            text-align: left !important;
        }
    }
    .wrapper-left{
        justify-content: start;
        div {
            width: 100%;
            height: 100%;
        }
    }
    
}
#equations {
    background: $black;
}
#quiz{
    background: $black;
    height: fit-content;
    iframe {
        width: 100%;
        height: 3037px;
    }
}
// ------------------Media Queries For Resopnsiveness------------------
@media (max-width: 1024px) {
    h1 {
        font-size: clamp(2rem, 3vw, 5rem);
    }
    #summary {
        padding-top: 75px;
        padding-bottom: 75px;
        height: fit-content;
        img {
            width: 100%;
            height: auto;
        }
    }

}


@media (max-width: 480px) {
    h1 {
        font-size: clamp(1.5rem, 3vw, 5rem);
    }
}

