@font-face {
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mokoto';
    src: url('../fonts/mokoto/ttf/mokoto-mokoto-regular-400.ttf') format('truetype');
}

$white: white;
$black: black;
$glow: rgba(98, 203, 245, 0.485);
$neon: rgb(98, 203, 245);
$color: #008dc9;


$font-family_1: "Audiowide", serif;
$font-family_2: "mokoto", sans-serif;

/* nav::after {
    content: '';
    position: absolute;
    bottom: -2px;
    background: white;
    width: calc(100% - 1in);
    height: .5px;
} */
/* nav span a::after{
    content: '';
    position: absolute;
    display: block;
    background: white;
    right: 0;
    width: 0;
    height: 2px;
    transition: linear;
    transition-duration: 150ms;
} */
/* nav span a:hover::after{
    content: '';
    position: absolute;
    display: block;
    background: white;
    width: calc(100%);
    height: 2px;
    transition: linear;
    transition-duration: 150ms;
} */
/* Media Queries for responsiveness */
/* nav .right .bars{
        padding: 0;
        display: flex;
        align-self: flex-end;
        width: 20px;
        height: 2px;
        border-radius: 2px;
    } */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	&::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}
html {
	margin: 0;
	color: $white;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	gap: 10px;
	font-family: $font-family_1;
	scroll-snap-type: y mandatory;
	// section:nth-child(1) {
	// 	height: calc(100vh - 20px);
	// 	background: $black;

	// }
}
body {
	margin: 0;
	color: $white;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	gap: 10px;
	font-family: $font-family_1;
}
a {
	font-family: $font-family_2;
	text-decoration: none;
	color: $white;
	&:hover {
		cursor: pointer;
		text-shadow: $color 0px 0px 20px;
		color: rgb(167, 230, 255);
	}
}
ul {
	display: block;
	list-style-type: disc;
	margin-top: 1ch;
	margin-bottom: 1ch;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
	ul {
		list-style-type: circle;
		ul {
			list-style-type: square;
		}
	}
	li {
		margin: 0;
		padding: 0;
	}
  }
.loader-wrapper {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	background: black;
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: linear 300ms;
	opacity: 1;
	&.hidden{
		opacity: 0;
		visibility: hidden;
	}
}
.loader{
	width: 50px;
	height: 50px;
	// border-radius: 50px;
	border: $color 5px solid;
	animation: spin 1s linear infinite;
}
.no-scroll {
	overflow: hidden;
 }
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.blur {
	filter: blur(5px);
}
h1 {
	font-family: $font-family_2;
	font-size: inherit;
	line-height: 1ch;
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-style: normal;
	font-size: clamp(2rem, 8vw, 5rem);
}
h2,h3,h4,h5,h6 {
	font-family: $font-family_2;
	font-size: inherit;
	line-height: 1ch;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: clamp(1.5rem, 6vw, 3rem);
}
h3 {
	font-size: clamp(1.2rem, 5vw, 2.5rem);
}	
h4 {
	font-size: clamp(1rem, 4vw, 2rem);
}
h5 {
	font-size: clamp(0.8rem, 3vw, 1.5rem);
}
h6 {
	font-size: clamp(0.6rem, 2vw, 1rem);
}
p {
	margin: 0;
	padding: 0;
	font-size: clamp(0.8rem, 3vw, 1.5rem);
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
button {
	border: none;
	display: inline-block;
	background: white;
	padding: 15px;
	transition: linear;
	transition-duration: 150ms;
	&.bold {
		background: $color;
		&:hover {
			background: $neon;
		}
	}
	&:hover {
		transform: scale(1.115);
		box-shadow: $glow 0px 0px 20px 5px;
	}
	a {
		color: black;
		text-decoration: none;
	}
}
nav {
	padding-top: 5px;
	button {
		&:hover {
			transform: scale(1.115);
			box-shadow: none;
		}
	}
	z-index: 99;
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: $white;
	font-size: 1.5rem;
	font-family: $font-family_2;
	.right {
		span {
			padding: 0;
			position: relative;
		}
		display: flex;
		transform: translateY(-2px);
		text-align: right;
		align-items: center;
		.bars {
			display: none;
		}
	}
	.left {
		text-align: left;
		display: flex;
		align-items: start;
		justify-content: center;

	}
	a {
		color: $white;
		text-decoration: none;
		font-size: clamp(1.2rem, 50%, 1.5rem);
		&:hover {
			cursor: pointer;
			text-shadow: $glow 0px 0px 20px;
			color: $neon;
		}
	}
	img {
		width: clamp(50px, 3vw, 100px);
	}
}
.padded {
	padding-left: 1in;
	padding-right: 1in;
}
.bordered {
	padding: 15px;
	background: $black;
	box-shadow: $color 0px 0px 0px 1px ;
}
.bold {
	background: var($color);
	color: $white;
	&:hover {
		background: var($glow);
	}
	a {
		color: $white;
	}
}
.nitems {
	display: flex;
	gap: 50px;
}
a {
	font-size: clamp(1.2rem, 50%, 1.5rem);
}
.button {
	display: inline-block;
	background: white;
	border-radius: 5px;
	padding: 10px;
	transition: linear;
	transition-duration: 150ms;
	a {
		color: $black;
		text-decoration: none;
	}
	&:hover {
		transform: scale(1.115);
		box-shadow: rgba(0, 0, 0, 0.296) 0px 5px 10px;
	}
}
.wrapper-left {
	display: flex;
	align-self: flex-start;
	width: 50%;
	height: 50%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
}
.wrapper-right {
	display: flex;
	align-self: flex-end;
	width: 50%;
	height: 50%;
	flex-direction: column;
	align-items: right;
	justify-content: center;
	text-align: right;
	gap: 20px;
}
.wrapper-center {
	display: flex;
	align-self: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 20px;
	.wrapper-left{
		height: 100%;
	}
	.wrapper-right{
		height: 100%;
	}

}
.wrapper {
	gap:15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	.wrapper-left{
		height: 100%;
	}
	.wrapper-right{
		height: 100%;
	}
}
.iframe-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
.img-wrapper {
	position: relative;
	width: clamp(299px,50vw, 599px);
	height: clamp(209px, 50vw, 509px);
	img {
		max-width: 100%;
  		height: auto;
	}

}
.quiz-wrapper {
	width: 100%;
}
section {
	scroll-snap-align: start;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-shadow: rgba(0, 0, 0, 0.296) 0px 5px 10px;
}
.easter-egg {
	font-family: $font-family_1;
	background: $black;
	&:hover {
		text-shadow: none;
		color: $white;
	}
}
@media (max-width: 1024px) {
	.wrapper {
		gap: 20px;
	}
	nav {
		span {
			padding: 5px;
		}
		.right {
			display: flex;
			flex-direction: column;
			gap: 10px;
			.bars {
				display: flex;
				position: relative;
				flex-direction: column;
				justify-content: space-around;
				align-items: end;
				align-self: flex-end;
				width: 45px;
				height: 45px;
				padding: 0;
				margin: 0;
				background: none;
				&:hover {
					cursor: pointer;
				}
				span {
					padding: 0;
					width: 80%;
					height: 3px;
					border-radius: 5px;
					background: white;
					transition: linear 100ms;
					transform-origin: right;
				}
			}
			.active {
				span {
					&:nth-child(2) {
						width: 0;
					}
					&:nth-child(1) {
						transform: rotate(-55deg);
					}
					&:nth-child(3) {
						transform: rotate(55deg);
					}
				}
			}
		}
	}
	.padded {
		padding: 5px;
	}
	.nitems {
		padding-top: 20px;
		flex-direction: column;
		transform: translate(200px);
		transition: linear 150ms;
	}
	.come {
		transform: translate(0);
	}
	.active {
		background: red;
	}
	.wrapper-left {
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.wrapper-right {
		align-self: center;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.wrapper {
		flex-direction: column;
		width: 100%;
		align-self: center;
		.wrapper-left {
			width: 50%;
			align-self: center;
			align-items: center;
			text-align: center;
		}
		wrapper-right {
			align-self: center;
		}
	}
}
@media (max-width: 480px) {
	nav {
		font-size: 1rem;
		width: 100%;
	}
	.button {
		padding: 5px;
	}
	.wrapper {
		width: 100%;
		.wrapper-left {
			width: 100%;
		}
		.wrapper-right {
			width: 100%;
		}
	}
	.img-wrapper {
		width: 100%;
		box-shadow: none;
	}
}
